.choice {
    display: flex;
    margin: 0 auto;
    width: 350px;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
}

body {
    background-image: url(../images/dbz-background.jpg);
    font-family: fantasy;
}

#start {
    width: 300px;
    height: 100px;
    opacity: 0.9;
    border: 1px solid black;
    font-size: 30px;
}

.jumbotron {
    background-image: url(../images/dbz-background.jpg);
    color: white;
}

#time-remaining, #question {
    font-size: 30px;
}

.stage {
    background-color: white;
}